<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../public/css/system_colors.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/helpers.css">
  <title>Ver Grupo</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="page-background">
  <!-- Navbar Begin -->
  <nav>
    <div class="nav-wrapper second-background">
      <ul class="left">
        <li>
          <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
            <i class="material-icons left">view_module</i>
          </a>
        </li>
      </ul>
      <a href="#!" class="brand-logo center">
        <i class="material-icons">computer</i>
        <span class="hide-on-small-only">Ver Grupo</span>
      </a>
      <ul class="right">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content begin -->
  <div class="container">
    <div class="section"></div>
    <div class="row" id="admin-watch-group-box">

      <!-- Group Info Begins -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Nombre del grupo</b></span>
          <div class="row">
            <span class="title col s12" style="word-break: break-all;">Descripción del grupo</span>
            <span class="title col s12" style="word-break: break-all;">Líder del grupo: Nombre Apellido</span>
            <div class="col s12">
              <button title="Editar" data-target="modal_groupInfo" class="btn-floating btn-large modal-trigger remove-button-background right"><i
                  class="material-icons">mode_edit</i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Group Info Ends -->

      <!-- Group Users Begin -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Usuarios</b></span>
          <ul class="collection scrollable-collection">
            <!-- User Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">person</i>
              <div class="row"><span class="title truncate col s12 hide-on-small-only">Push-Relabel
                  LastName LastName </span><span class="title truncate col s12 hide-on-med-and-up">Push-Relabel</span>
                <p class="truncate col s12">Correo : algorithm@mail.com<br>Teléfono : 5555555555</p>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Ver" data-target="modal_userInfo" class="btn modal-trigger remove-button-background"><i class="material-icons">remove_red_eye</i></button>
                  <a href="#!" title="Contactar" class="btn remove-button-background"><i class="material-icons">send</i></a>
                </div>
              </div>
            </li>
            <!-- User Ends -->

            <!-- User Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">person</i>
              <div class="row"><span class="title truncate col s12 hide-on-small-only">Push-Relabel
                  LastName LastName </span><span class="title truncate col s12 hide-on-med-and-up">Push-Relabel</span>
                <p class="truncate col s12">Correo : algorithm@mail.com<br>Teléfono : 5555555555</p>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Ver" data-target="modal_userInfo" class="btn modal-trigger remove-button-background"><i class="material-icons">remove_red_eye</i></button>
                  <a href="#!" title="Contactar" class="btn remove-button-background"><i class="material-icons">send</i></a>
                </div>
              </div>
            </li>
            <!-- User Ends -->

            <!-- User Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">person</i>
              <div class="row"><span class="title truncate col s12 hide-on-small-only">Push-Relabel
                  LastName LastName </span><span class="title truncate col s12 hide-on-med-and-up">Push-Relabel</span>
                <p class="truncate col s12">Correo : algorithm@mail.com<br>Teléfono : 5555555555</p>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Ver" data-target="modal_userInfo" class="btn modal-trigger remove-button-background"><i class="material-icons">remove_red_eye</i></button>
                  <a href="#!" title="Contactar" class="btn remove-button-background"><i class="material-icons">send</i></a>
                </div>
              </div>
            </li>
            <!-- User Ends -->
          </ul>
          <div class="row">
            <div class="col s12">
              <button title="Agregar usuarios" data-target="modal_addUserToGroup" class="btn-floating btn-large modal-trigger remove-button-background right"><i
                  class="material-icons">add</i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Group Users End -->

      <!-- Group Projects Begin -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Proyectos</b></span>
          <ul class="collection scrollable-collection">
            <!-- Project Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
              <div class="row">
                <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only">
                    descripción extra del nombre de proyecto</span></span>
                <span class="title truncate col s12">12345 usuarios</span>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Project Ends -->
            <!-- Project Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
              <div class="row">
                <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only">
                    descripción extra del nombre de proyecto</span></span>
                <span class="title truncate col s12">12345 usuarios</span>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Project Ends -->
            <!-- Project Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
              <div class="row">
                <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only">
                    descripción extra del nombre de proyecto</span></span>
                <span class="title truncate col s12">12345 usuarios</span>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Project Ends -->
            <!-- Project Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
              <div class="row">
                <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only">
                    descripción extra del nombre de proyecto</span></span>
                <span class="title truncate col s12">12345 usuarios</span>
                <div class="right">
                  <a href="#!" title="Elminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Project Ends -->
          </ul>
          <div class="row">
            <div class="col s12">
              <a href="#!" title="Agregar proyecto" class="btn-floating btn-large modal-trigger remove-button-background right"><i class="material-icons">add</i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Group Projects End-->

      <!-- Group File Tree Begins -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Árbol de archivos</b></span>
          <div class="row">
            <span class="title truncate col s12">Aquí va el árbol de archivos</span>
          </div>
        </div>
      </div>
      <!-- Group File Tree Ends-->

      <!-- Group Modal Definition Begins -->
      <div id="modal_groupInfo" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Editar información del grupo</h4>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Nombre del grupo" value="Nombre del grupo" id="group_name" type="text" class="validate">
                  <label for="group_name">Nombre del grupo</label>
                </div>
                <div class="input-field col s12">
                  <input placeholder="Descripción del grupo" value="Descripción del grupo" id="group_desc" type="text"
                    class="validate">
                  <label for="group_desc">Descripción del grupo</label>
                </div>
              </div>
              <!-- Group Users Begin -->
              <div class="card">
                <div class="card-content">
                  <span class="card-title first-text"><b>Seleccionar líder</b></span>
                  <form action="#">
                    <ul class="collection">
                      <!-- User Begins -->
                      <li class="collection-item avatar">
                        <i class="material-icons circle third-background">person</i>
                        <div class="row">
                          <div class="col s12 m9">
                            <span class="title truncate col s12">Nombre Apellidos </span>
                            <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                            <span class="title truncate col s12">Teléfono : 5555555555</span>
                          </div>
                          <div class="col s12 m3">
                            <label class="right">
                              <input name="group1" type="radio" checked />
                              <span>Líder</span>
                            </label>
                          </div>
                        </div>
                      </li>
                      <!-- User Ends -->

                      <!-- User Begins -->
                      <li class="collection-item avatar">
                        <i class="material-icons circle third-background">person</i>
                        <div class="row">
                          <div class="col s12 m9">
                            <span class="title truncate col s12">Nombre Apellidos </span>
                            <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                            <span class="title truncate col s12">Teléfono : 5555555555</span>
                          </div>
                          <div class="col s12 m3">
                            <label class="right">
                              <input name="group1" type="radio" />
                              <span>Líder</span>
                            </label>
                          </div>
                        </div>
                      </li>
                      <!-- User Ends -->

                      <!-- User Begins -->
                      <li class="collection-item avatar">
                        <i class="material-icons circle third-background">person</i>
                        <div class="row">
                          <div class="col s12 m9">
                            <span class="title truncate col s12">Nombre Apellidos </span>
                            <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                            <span class="title truncate col s12">Teléfono : 5555555555</span>
                          </div>
                          <div class="col s12 m3">
                            <label class="right">
                              <input name="group1" type="radio" />
                              <span>Líder</span>
                            </label>
                          </div>
                        </div>
                      </li>
                      <!-- User Ends -->

                      <!-- User Begins -->
                      <li class="collection-item avatar">
                          <i class="material-icons circle third-background">person</i>
                          <div class="row">
                            <div class="col s12 m9">
                              <span class="title truncate col s12">Nombre Apellidos </span>
                              <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                              <span class="title truncate col s12">Teléfono : 5555555555</span>
                            </div>
                            <div class="col s12 m3">
                              <label class="right">
                                <input name="group1" type="radio" />
                                <span>Líder</span>
                              </label>
                            </div>
                          </div>
                        </li>
                        <!-- User Ends -->
                    </ul>
                  </form>
                </div>
              </div>
              <!-- Group Users End -->
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
      </div>
      <!-- Group Modal Definition Ends-->

      <!-- User Modal Definition Begins -->
      <div id="modal_userInfo" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Nombre y Apellidos del usuario</h4>
          <!-- User Groups Begin -->
          <div class="card">
            <div class="card-content">
              <span class="card-title first-text"><b>Grupos en los que ha participado</b></span>
              <ul class="collection scrollable-collection">
                <!-- Group Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del grupo<span class="hide-on-small-only">
                        descripción extra del nombre de grupo</span></span>
                    <span class="title truncate col s12">Líder del grupo: Nombre apellido</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
                <!-- Group Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del grupo<span class="hide-on-small-only">
                        descripción extra del nombre de grupo</span></span>
                    <span class="title truncate col s12">Líder del grupo: Nombre apellido</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
                <!-- Group Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del grupo<span class="hide-on-small-only">
                        descripción extra del nombre de grupo</span></span>
                    <span class="title truncate col s12">Líder del grupo: Nombre apellido</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
                <!-- Group Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del grupo<span class="hide-on-small-only">
                        descripción extra del nombre de grupo</span></span>
                    <span class="title truncate col s12">Líder del grupo: Nombre apellido</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
              </ul>
            </div>
          </div>
          <!-- User Groups End -->

          <!-- User Projects Begin -->
          <div class="card">
            <div class="card-content">
              <span class="card-title first-text"><b>Proyectos en los que ha colaborado</b></span>
              <ul class="collection scrollable-collection">
                <!-- Project Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only">
                        descripción extra del nombre de proyecto</span></span>
                    <span class="title truncate col s12">Líder del proyecto: Nombre Apellidos</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Project Ends -->
                <!-- Project Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only">
                        descripción extra del nombre de proyecto</span></span>
                    <span class="title truncate col s12">Líder del proyecto: Nombre Apellidos</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Project Ends -->
              </ul>
            </div>
          </div>
          <!-- User Projects End -->

          <!-- User Tasks Begin -->
          <div class="card">
            <div class="card-content">
              <span class="card-title first-text"><b>Tareas que ha realizado</b></span>
              <ul class="collection scrollable-collection">
                <!-- Task Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">create</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre de la tarea realizada</span>
                    <span class="title truncate col s12"> </span>
                    <span class="title truncate col s12">Para el grupo: Nombre del grupo</span>
                    <span class="title truncate col s12">Para el proyecto: Nombre del proyecto</span>
                    <span class="title truncate col s12">Descripción de la tarea realizada</span>
                    <span class="title truncate col s12"><a href="#!">Descargar evidencia</a></span>
                  </div>
                </li>
                <!-- Task Ends -->
                <!-- Task Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">create</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre de la tarea realizada</span>
                    <span class="title truncate col s12"> </span>
                    <span class="title truncate col s12">Para el grupo: Nombre del grupo</span>
                    <span class="title truncate col s12">Para el proyecto: Nombre del proyecto</span>
                    <span class="title truncate col s12">Descripción de la tarea realizada</span>
                    <span class="title truncate col s12"><a href="#!">Descargar evidencia</a></span>
                  </div>
                </li>
                <!-- Task Ends -->
              </ul>
            </div>
          </div>
          <!-- User Tasks End -->
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Entendido</a>
        </div>
      </div>
      <!-- User Modal Definition Ends-->

      <!-- Add User to Group Modal Definition Begins -->
      <div id="modal_addUserToGroup" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Agregar usuarios al grupo</h4>
          <div class="row">
            <form class="col s12">
              <!-- Group Users Begin -->
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <div class='input-field col s12'>
                        <i class='material-icons prefix third-text'>search</i>
                        <input placeholder='Ingresa palabras clave' type='text' class='validate'>
                      <label>Búsqueda de Usuarios</label>
                    </div>
                  </div>
                  <ul class="collection scrollable-collection">
                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input type="checkbox" />
                            <span>Agregar</span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- User Ends -->

                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input type="checkbox" />
                            <span>Agregar</span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- User Ends -->

                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input type="checkbox" />
                            <span>Agregar</span>
                          </label>
                        </div>
                      </div>  
                    </li>
                    <!-- User Ends -->
                  </ul>
                </div>
              </div>
              <!-- Group Users End -->
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
      </div>
      <!-- Add User to Group Modal Definition Ends-->

      <!-- Add Project to Group Modal Definition Begins -->
      <div id="modal_addProjectToGroup" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Agregar usuarios al grupo</h4>
            <div class="row">
              <form class="col s12">
                <!-- Group Users Begin -->
                <div class="card">
                  <div class="card-content">
                    <form action="#">
                      <ul class="collection scrollable-collection">
                        <!-- User Begins -->
                        <li class="collection-item avatar">
                          <i class="material-icons circle third-background">person</i>
                          <div class="row">
                            <div class="col s12 m9">
                              <span class="title truncate col s12">Nombre Apellidos </span>
                              <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                              <span class="title truncate col s12">Teléfono : 5555555555</span>
                            </div>
                            <div class="col s12 m3">
                              <label class="right">
                                <input type="checkbox" />
                                <span>Agregar</span>
                              </label>
                            </div>
                          </div>
                        </li>
                        <!-- User Ends -->
  
                        <!-- User Begins -->
                        <li class="collection-item avatar">
                          <i class="material-icons circle third-background">person</i>
                          <div class="row">
                            <div class="col s12 m9">
                              <span class="title truncate col s12">Nombre Apellidos </span>
                              <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                              <span class="title truncate col s12">Teléfono : 5555555555</span>
                            </div>
                            <div class="col s12 m3">
                              <label class="right">
                                <input type="checkbox" />
                                <span>Agregar</span>
                              </label>
                            </div>
                          </div>
                        </li>
                        <!-- User Ends -->
  
                        <!-- User Begins -->
                        <li class="collection-item avatar">
                          <i class="material-icons circle third-background">person</i>
                          <div class="row">
                            <div class="col s12 m9">
                              <span class="title truncate col s12">Nombre Apellidos </span>
                              <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                              <span class="title truncate col s12">Teléfono : 5555555555</span>
                            </div>
                            <div class="col s12 m3">
                              <label class="right">
                                <input type="checkbox" />
                                <span>Agregar</span>
                              </label>
                            </div>
                          </div>
                        </li>
                        <!-- User Ends -->
                      </ul>
                    </form>
                  </div>
                </div>
                <!-- Group Users End -->
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
          </div>
        </div>
        <!-- Add Project to Group Modal Definition Ends-->

    </div>
  </div>
  <!-- Content End -->

  <!-- Scripts Begin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  <script src="../js/toasts.js"></script>
  <script src="../js/admin_create_groups.js"></script>

  <script>
    M.AutoInit();
  </script>
  <!-- Scripts End -->
</body>

</html>