<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" media="screen,projection">
        <link rel="stylesheet" type="text/css" href="../css/system_colors.css">
        
        <title>Ver Grupo</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="page-background">
        <!-- Navbar Begin -->
        <nav>
            <div class="nav-wrapper second-background">
                <ul class="left">
                    <li>
                        <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
                            <i class="material-icons left">view_module</i>
                        </a>
                    </li>
                </ul>
                <a href="#!" class="brand-logo center">
                    <i class="material-icons">computer</i>
                    <span class="hide-on-small-only">Ver Grupo</span>
                </a>
                <ul class="right">
                    <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
                </ul>
            </div>
        </nav>
        <!-- Navbar End -->
        <!-- Content begin -->
        <div class="container">
            <div class="section"></div>
            
            <div class="row" id="admin-watch-group-box">
                
                <!-- Group Info Begins -->
                <div class="card">
                    <div class="card-content">
                        <span class = "card-title first-text"><b>Nombre del grupo</b></span>
                        <div class="row">
                            <span class="title col s12" style="word-break: break-all;">Descripción del grupo</span>
                            <span class="title col s12" style="word-break: break-all;">Líder del grupo: Nombre Apellido</span>
                            <div class="col s12">
                                <a href="#!" title="Editar" class="btn light-blue darken-2 right"><i class="material-icons">mode_edit</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Group Info Ends -->

                <!-- Group Users Begin -->
                <div class="card">
                    <div class="card-content">
                        <span class = "card-title first-text"><b>Usuarios</b></span>
                        <ul class="collection">
                            <!-- User Begins -->
                            <li class="collection-item avatar"><i class="material-icons circle third-background">person</i>
                                <div class="row"><span class="title truncate col s12 hide-on-small-only">Push-Relabel LastName LastName </span><span
                                        class="title truncate col s12 hide-on-med-and-up">Push-Relabel</span>
                                    <p class="truncate col s12">Correo : algorithm@mail.com<br>Teléfono : 5555555555</p>
                                    <div class="right">
                                        <a href="#!" title="Ver" class="btn light-blue darken-2"><i class="material-icons">remove_red_eye</i></a>
                                        <a href="#!" title="Contactar" class="btn light-blue darken-2"><i class="material-icons">send</i></a>
                                    </div>
                                </div>
                            </li>
                            <!-- User Ends -->

                            <!-- User Begins -->
                            <li class="collection-item avatar"><i class="material-icons circle third-background">person</i>
                                <div class="row"><span class="title truncate col s12 hide-on-small-only">Push-Relabel LastName LastName </span><span
                                        class="title truncate col s12 hide-on-med-and-up">Push-Relabel</span>
                                    <p class="truncate col s12">Correo : algorithm@mail.com<br>Teléfono : 5555555555</p>
                                    <div class="right">
                                        <a href="#!" title="Ver" class="btn light-blue darken-2"><i class="material-icons">remove_red_eye</i></a>
                                        <a href="#!" title="Contactar" class="btn light-blue darken-2"><i class="material-icons">send</i></a>
                                    </div>
                                </div>
                            </li>
                            <!-- User Ends -->
                        </ul>
                    </div>
                </div>
                <!-- Group Users End -->

                <!-- Group Projects Begin -->
                <div class="card">
                    <div class="card-content">
                        <span class = "card-title first-text"><b>Proyectos</b></span>
                        <ul class="collection">
                            <!-- Project Begins-->
                            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
                                <div class="row">
                                    <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only"> descripción extra del nombre de proyecto</span></span>
                                    <span class="title truncate col s12">12345 usuarios</span>
                                    <div class="right">
                                        <a href="#!" title="Ver" class="btn light-blue darken-2"><i class="material-icons">remove_red_eye</i></a>
                                    </div>
                                </div>
                            </li>
                            <!-- Project Ends -->
                            <!-- Project Begins -->
                            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
                                <div class="row">
                                    <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only"> descripción extra del nombre de proyecto</span></span>
                                    <span class="title truncate col s12">12345 usuarios</span>
                                    <div class="right">
                                        <a href="#!" title="Ver" class="btn light-blue darken-2"><i class="material-icons">remove_red_eye</i></a>
                                    </div>
                                </div>
                            </li>
                            <!-- Project Ends -->
                        </ul>
                    </div>
                </div>
                <!-- Group Projects End-->

                <!-- Group File Tree Begins -->
                <div class="card">
                    <div class="card-content">
                        <span class = "card-title first-text"><b>Árbol de archivos</b></span>
                        <div class="row">
                                <span class="title truncate col s12">Aquí va el árbol de archivos</span>
                        </div>
                    </div>
                </div>
                <!-- Group File Tree Ends-->

            </div>
        </div>
        <!-- Content End -->

        <!-- Scripts Begin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
        <script src="../js/toasts.js"></script>  
        <script src="../js/admin_create_groups.js"></script>
        <!-- Scripts End -->
    </body>
</html>