<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../public/css/system_colors.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/helpers.css">
  <title>Blog</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="page-background">
  <!-- Navbar Begin -->
  <nav>
    <div class="nav-wrapper second-background">
      <ul class="left">
        <li>
          <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
            <i class="material-icons left">view_module</i>
          </a>
        </li>
      </ul>
      <a href="#!" class="brand-logo center">
        <i class="material-icons">computer</i>
        <span class="hide-on-small-only">Blog</span>
      </a>
      <ul class="right">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content begin -->
  <div class="container" id="admin-watch-iteration-box">
    <div class="section"></div>
    <div class="row">

      <!-- Posts Begin -->
      <div class="row">
        <!-- Blog Title Begins -->
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-image">
                <img src="../../public/img/dummies/test.jpg">
                <span class="card-title">Nombre del grupo</span>
              </div>
              <div class="card-content">
                <p>
                  Descripción del grupo
                </p><br>
                <div class="right">
                  <button title="Cambiar foto" data-target="modal_updatePhoto" class="btn modal-trigger remove-button-background">
                    <i class="material-icons">photo_camera</i>
                  </button>
                  <button title="Ver grupo" class="btn remove-button-background">
                    <i class="material-icons">remove_red_eye</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Blog Title Ends -->
        <!-- Add New Post Begins -->
        <div class="row zero-margin-bottom">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <span class="card-title first-text"><b>Nueva publicación</b></span>
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <label>Título de la publicación</label>
                        <textarea placeholder="Título..." id="task_desc" class="materialize-textarea"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <label>Contenido de la publicación</label>
                        <textarea placeholder="Publicación..." id="task_desc" class="materialize-textarea"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="col s12">
                    <a href="#!" title="Realizar publicación" class="btn remove-button-background right">Publicar</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add New Post Ends -->
        <!-- Post Begins -->
        <div class="row zero-margin-bottom">
          <div class="col s12">
            <div class="card">
              <div class="card-content">
                <!-- Card Header Begins -->
                <div class="row">
                  <span class="card-title">
                    Título de la publicación
                    <a href='#!' class="right">
                      <i class="dropdown-trigger material-icons" data-target='dropdown2' title="Opciones">more_vert</i>
                    </a>
                    <i class="material-icons right" title="Pendiente de validar">timer</i>
                    <i class="material-icons right" title="Publicación rechazada">close</i>
                  </span>
                  <!-- Dropdown Begins -->
                  <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="#!"><i class="material-icons">check</i>Validar publicación</a></li>
                    <li><a href="#!"><i class="material-icons">close</i>Rechazar publicación</a></li>
                    <li><a class="modal-trigger" href="#modal_updatePost"><i class="material-icons">edit</i>Editar publicación</a></li>
                    <li><a href="#!"><i class="material-icons">close</i>Eliminar publicación</a></li>
                  </ul>
                  <!-- Dropdown Ends -->
                  <span class="col s12">Autor: Víctor Noriega</span>
                  <span class="col s12">Publicado el: 25 / 10 / 2018</span>
                </div>
                <!-- Card Header Ends -->
                <div class="row zero-margin">
                  <span class="col s12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut nibh ultricies, pellentesque diam
                    nec, vehicula ipsum. Integer id vulputate tortor. Nullam eget mi in est pellentesque cursus.
                    Curabitur pharetra nisi sit amet fermentum consectetur. Curabitur egestas dapibus velit a
                    consequat. Integer dictum nulla ipsum, consequat faucibus sapien mollis eu. Vestibulum luctus
                    lectus erat, nec porta nunc eleifend ut. Sed mauris nisl, viverra ac ante quis, consequat sodales
                    elit. Etiam faucibus erat lacus, at tempus ipsum dapibus sed. Nunc malesuada velit ac risus rutrum
                    mattis. Vivamus scelerisque eu nibh vitae elementum.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Post Ends -->
      </div>
      <!-- Posts End -->

      <!-- Update Photo Modal Definition Begins -->
      <div id="modal_updatePhoto" class="modal">
        <div class="modal-content">
          <h4>Cambiar foto</h4>
          <div class="row">
            <form action="#">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Seleccionar nueva foto</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
      </div>
      <!-- Update Photo Modal Definition Ends-->

      <!-- Update Post Modal Definition Begins -->
      <div id="modal_updatePost" class="modal">
        <div class="modal-content">
          <h4>Editar publicación</h4>
          <div class="row">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <label>Título de la publicación</label>
                    <textarea placeholder="Título..." id="task_desc" class="materialize-textarea">Aquí va el título que ya tiene la publicación</textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <label>Contenido de la publicación</label>
                    <textarea placeholder="Publicación..." id="task_desc" class="materialize-textarea">Aquí va el contenido que ya tiene la publicación</textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
      </div>
      <!-- Update Post Modal Definition Ends-->

    </div>
  </div>
  <!-- Content End -->

  <!-- Scripts Begin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

  <script>
    //M.AutoInit();

    //Modal initialization - modal_updatePhoto
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.getElementById('modal_updatePhoto');
      var options = {};
      var instances = M.Modal.init(elems, options);
    });

    //Modal initialization - modal_updatePost
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.getElementById('modal_updatePost');
      var options = {};
      var instances = M.Modal.init(elems, options);
    });

    //Initialize dropdowns
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var options = {
        alignment: 'right',
        constrainWidth: false
      }
      var instances = M.Dropdown.init(elems, options);
    });
  </script>
  <!-- Scripts End -->
</body>

</html>