<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../public/css/system_colors.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/helpers.css">
  <title>Estadísticas</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="page-background">
  <!-- Navbar Begin -->
  <nav>
    <div class="nav-wrapper second-background">
      <ul class="left">
        <li>
          <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
            <i class="material-icons left">view_module</i>
          </a>
        </li>
      </ul>
      <a href="#!" class="brand-logo center">
        <i class="material-icons">computer</i>
        <span class="hide-on-small-only">Estadísticas</span>
      </a>
      <ul class="right">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content begin -->
  <div class="" id="user-watch-dashboard-box">
    <div class="section"></div>

    <div class="row">
      <!-- Tab Menu Begins -->
      <div class="col s12">
        <ul class="tabs" id="statistics-options">
          <li class="tab col s12 m4"><a href="#groups">Estadísticas de Grupos</a></li>
          <li class="tab col s12 m4"><a href="#projects">Estadísticas de Proyectos</a></li>
          <li class="tab col s12 m4"><a href="#users">Estadísticas de Usuario</a></li>
        </ul>
      </div>
      <!-- Tab Menu Ends -->
      <!-- Groups Begin -->
      <div id="groups" class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title first-text"><b>Grupos</b></span>
            <!-- Search Bar Begins-->
            <div class="row">
              <form class="col s12">
                <div class="input-field">
                  <i class="material-icons prefix third-text">search</i>
                  <input id="search_bar" placeholder="Ingresa palabras clave" type="text" class="validate">
                  <label for="search_bar">Búsqueda de Grupos</label>
                </div>
              </form>
            </div>
            <!-- Search Bar Ends -->
            <!-- Groups List Begins-->
            <ul class="collection scrollable-collection">
              <!-- No groups to show item begins-->
              <li class="collection-item">
                No hay grupos disponibles para seleccionar.
              </li>
              <!-- No groups to show item ends-->
              <!-- No group matches the search item begins-->
              <li class="collection-item">
                Ningún grupo coincide con los criterios de búsqueda.
              </li>
              <!-- No group matches the search item ends-->
              <!-- Group Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">group</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Nombre del grupo
                    </span>
                    <span class="truncate col s12">
                      Líder del grupo
                    </span>
                  </div>
                  <div class="col s12 m3">
                    <label class="right">
                      <button class="btn remove-button-background" title="Ver estadísticas" onclick="drawCharts();">
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </label>
                  </div>
                </div>
              </li>
              <!-- Group Ends -->
              <!-- Group Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">group</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Nombre del grupo
                    </span>
                    <span class="truncate col s12">
                      Líder del grupo
                    </span>
                  </div>
                  <div class="col s12 m3">
                    <label class="right">
                      <button class="btn remove-button-background" title="Ver estadísticas" onclick="drawCharts();">
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </label>
                  </div>
                </div>
              </li>
              <!-- Group Ends -->
              <!-- Group Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">group</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Nombre del grupo
                    </span>
                    <span class="truncate col s12">
                      Líder del grupo
                    </span>
                  </div>
                  <div class="col s12 m3">
                    <label class="right">
                      <button class="btn remove-button-background" title="Ver estadísticas" onclick="drawCharts();">
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </label>
                  </div>
                </div>
              </li>
              <!-- Group Ends -->
            </ul>
            <!-- Groups List Ends-->
          </div>
        </div>
      </div>
      <!-- Groups End-->
      <!-- Projects Begin -->
      <div id="projects" class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title first-text"><b>Proyectos</b></span>
            <!-- Search Bar Begins-->
            <div class="row">
              <form class="col s12">
                <div class="input-field">
                  <i class="material-icons prefix third-text">search</i>
                  <input id="search_bar" placeholder="Ingresa palabras clave" type="text" class="validate">
                  <label for="search_bar">Búsqueda de Proyectos</label>
                </div>
              </form>
            </div>
            <!-- Search Bar Ends -->
            <!-- Projects List Begins-->
            <ul class="collection scrollable-collection">
              <!-- No projects to show item begins-->
              <li class="collection-item">
                No hay proyectos disponibles para seleccionar.
              </li>
              <!-- No projects to show item ends-->
              <!-- No project matches the search item begins-->
              <li class="collection-item">
                Ningún proyecto coincide con los criterios de búsqueda.
              </li>
              <!-- No project matches the search item ends-->
              <!-- Project Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">folder</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Nombre del proyecto
                    </span>
                    <span class="truncate col s12">
                      Líder del proyecto
                    </span>
                  </div>
                  <div class="col s12 m3">
                    <label class="right">
                      <button class="btn remove-button-background" title="Ver estadísticas" onclick="drawCharts();">
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </label>
                  </div>
                </div>
              </li>
              <!-- Project Ends -->
              <!-- Project Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">folder</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Nombre del proyecto
                    </span>
                    <span class="truncate col s12">
                      Líder del proyecto
                    </span>
                  </div>
                  <div class="col s12 m3">
                    <label class="right">
                      <button class="btn remove-button-background" title="Ver estadísticas" onclick="drawCharts();">
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </label>
                  </div>
                </div>
              </li>
              <!-- Project Ends -->
              <!-- Project Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">folder</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Nombre del proyecto
                    </span>
                    <span class="truncate col s12">
                      Líder del proyecto
                    </span>
                  </div>
                  <div class="col s12 m3">
                    <label class="right">
                      <button class="btn remove-button-background" title="Ver estadísticas" onclick="drawCharts();">
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </label>
                  </div>
                </div>
              </li>
              <!-- Project Ends -->
            </ul>
            <!-- Project List Ends-->
          </div>
        </div>
      </div>
      <!-- Projects End -->
      <!-- Users Begin -->
      <div id="users" class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title first-text"><b>Usuarios</b></span>
            <!-- Search Bar Begins-->
            <div class="row">
              <form class="col s12">
                <div class="input-field">
                  <i class="material-icons prefix third-text">search</i>
                  <input id="search_bar" placeholder="Ingresa palabras clave" type="text" class="validate">
                  <label for="search_bar">Búsqueda de Usuarios</label>
                </div>
              </form>
            </div>
            <!-- Search Bar Ends -->
            <!-- Users List Begins-->
            <ul class="collection scrollable-collection">
              <!-- No users to show item begins-->
              <li class="collection-item">
                No hay usuarios disponibles para seleccionar.
              </li>
              <!-- No users to show item ends-->
              <!-- No user matches the search item begins-->
              <li class="collection-item">
                Ningún usuario coincide con los criterios de búsqueda.
              </li>
              <!-- No user matches the search item ends-->
              <!-- User Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">User</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Nombre del proyecto
                    </span>
                    <span class="truncate col s12">
                      Líder del proyecto
                    </span>
                  </div>
                  <div class="col s12 m3">
                    <label class="right">
                      <button class="btn remove-button-background" title="Ver estadísticas" onclick="drawCharts();">
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                    </label>
                  </div>
                </div>
              </li>
              <!-- User Ends -->
            </ul>
            <!-- User List Ends-->
          </div>
        </div>
      </div>
      <!-- Users End -->
    </div>

    <div class="row">
      <div id="pie_chart_div" class="col s12 m4"></div>
      <div id="bar_chart_div" class="col s12 m4"></div>
      <div id="line_chart_div" class="col s12 m4"></div>
    </div>

  </div>
  <!-- Content End -->

  <!-- Scripts Begin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../../public/js/toasts.js"></script>
  <script>
    //M.AutoInit();

    //Init statistics-optios¿ns tabs
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('statistics-options');
      var options = {};
      var instance = M.Tabs.init(elem, options);
    });

    //Draw charts
    function drawCharts() {
      drawPieChart();
      drawBarChart();
      drawLineChart();
    }

  </script>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    //google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawPieChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Mushrooms', 3],
        ['Onions', 1],
        ['Olives', 1],
        ['Zucchini', 1],
        ['Pepperoni', 2]
      ]);

      // Set chart options
      var options = {
        'title': 'How Much Pizza I Ate Last Night',
        'width': 400,
        'height': 300
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
      chart.draw(data, options);
    }
  </script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    //google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawBarChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Mushrooms', 3],
        ['Onions', 1],
        ['Olives', 1],
        ['Zucchini', 1],
        ['Pepperoni', 2]
      ]);

      // Set chart options
      var options = {
        'title': 'How Much Pizza I Ate Last Night',
        'width': 400,
        'height': 300
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.BarChart(document.getElementById('bar_chart_div'));
      chart.draw(data, options);
    }
  </script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    //google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawLineChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Mushrooms', 3],
        ['Onions', 1],
        ['Olives', 1],
        ['Zucchini', 1],
        ['Pepperoni', 2]
      ]);

      // Set chart options
      var options = {
        'title': 'How Much Pizza I Ate Last Night',
        'width': 400,
        'height': 300
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('line_chart_div'));
      chart.draw(data, options);
    }
  </script>
  <!-- Scripts End -->
</body>

</html>