<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../public/css/system_colors.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/helpers.css">
  <title>Archivos</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="page-background">
  <!-- Navbar Begin -->
  <nav>
    <div class="nav-wrapper second-background">
      <ul class="left">
        <li>
          <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
            <i class="material-icons left">view_module</i>
          </a>
        </li>
      </ul>
      <a href="#!" class="brand-logo center">
        <i class="material-icons">computer</i>
        <span class="hide-on-small-only">Archivos</span>
      </a>
      <ul class="right">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content begin -->
  <div class="container" id="files-box">
    <div class="section"></div>

    <div class="row">
      <!-- Tab Menu Begins -->
      <div class="col s12">
        <ul class="tabs" id="files-options">
          <li class="tab col s12 m6"><a href="#groups">Archivos de Grupos</a></li>
          <li class="tab col s12 m6"><a href="#projects">Archivos de Proyectos</a></li>
        </ul>
      </div>
      <!-- Tab Menu Ends -->

      <!-- Groups Collapsible Begins -->
      <div class="col s12" id="groups">
        <ul class="collapsible" id="collapsible-groups">
          <li>
            <div class="collapsible-header"><i class="material-icons">group</i>Grupos</div>
            <div class="collapsible-body zero-padding">
              <!-- Groups Begin -->
              <!-- Groups List Begins-->

              <!-- Groups List Ends-->
            </div>
            <!-- Groups End-->
          </li>
        </ul>
      </div>
      <!-- Groups Collapsible Ends -->

      <!-- Projects Collapsible Begins -->
      <div class="col s12" id="projects">
        <ul class="collapsible" id="collapsible-projects">
          <li>
            <div class="collapsible-header"><i class="material-icons">folder</i>Proyectos</div>
            <div class="collapsible-body zero-padding">
              <!-- Projects List Begins-->
              
              <!-- Project List Ends-->
            </div>
          </li>
        </ul>
      </div>
      <!-- Projects Collapsible Ends -->

      <!-- Files section Begins -->
      
      <!-- Files section Ends -->
    </div>

  </div>
  <!-- Content End -->

  <!-- Scripts Begin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
  <script src="../../public/js/toasts.js"></script>
  <script>
    //M.AutoInit();

    //Init files-options tabs
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('files-options');
      var options = {};
      var instance = M.Tabs.init(elem, options);
    });

    //Init Groups collapsible collapsible-groups
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('collapsible-groups');
      var options = {};
      var instance = M.Collapsible.init(elem, options);
    });

    //Init Projects collapsible collapsible-projects
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('collapsible-projects');
      var options = {};
      var instance = M.Collapsible.init(elem, options);
    });
  </script>
  <!-- Scripts End -->
</body>

</html>