<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../public/css/system_colors.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/helpers.css">
  <title>Archivos</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="page-background">
  <!-- Navbar Begin -->
  <nav>
    <div class="nav-wrapper second-background">
      <ul class="left">
        <li>
          <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
            <i class="material-icons left">view_module</i>
          </a>
        </li>
      </ul>
      <a href="#!" class="brand-logo center">
        <i class="material-icons">computer</i>
        <span class="hide-on-small-only">Archivos</span>
      </a>
      <ul class="right">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content begin -->
  <div class="" id="files-box">
    <div class="section"></div>
    <statistics-view>
    </statistics-view>

    <div class="row">
      <!-- Tab Menu Begins -->
      <div class="col s12">
        <ul class="tabs" id="files-options">
          <li class="tab col s12 m6"><a href="#groups">Archivos de Grupos</a></li>
          <li class="tab col s12 m6"><a href="#projects">Archivos de Proyectos</a></li>
        </ul>
      </div>
      <!-- Tab Menu Ends -->

      <!-- Groups Collapsible Begins -->
      <div class="col s12" id="groups">
        <ul class="collapsible" id="collapsible-groups">
          <li>
            <div class="collapsible-header"><i class="material-icons">group</i>Grupos</div>
            <div class="collapsible-body zero-padding">
              <!-- Groups Begin -->
              <!-- Groups List Begins-->
              <ul class="collection scrollable-collection">
                <li class="collection-item">
                  <!-- Search Bar Begins-->
                  <div class="row">
                    <form class="col s12">
                      <div class="input-field">
                        <i class="material-icons prefix third-text">search</i>
                        <input id="search_bar" placeholder="Ingresa palabras clave" type="text" class="validate">
                        <label for="search_bar">Búsqueda de Grupos</label>
                      </div>
                    </form>
                  </div>
                  <!-- Search Bar Ends -->
                </li>
                <!-- No groups to show item begins-->
                <li class="collection-item">
                  No hay grupos disponibles para seleccionar.
                </li>
                <!-- No groups to show item ends-->
                <!-- No group matches the search item begins-->
                <li class="collection-item">
                  Ningún grupo coincide con los criterios de búsqueda.
                </li>
                <!-- No group matches the search item ends-->
                <!-- Group Begins -->
                <li class="collection-item avatar">
                  <i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <div class="col s12 m9">
                      <span class="title truncate col s12">
                        Nombre del grupo
                      </span>
                      <span class="truncate col s12">
                        Líder del grupo
                      </span>
                    </div>
                    <div class="col s12 m3">
                      <label class="right">
                        <button class="btn remove-button-background" title="Ver archivos" onclick="viewGroupFiles();">
                          <i class="material-icons">remove_red_eye</i>
                        </button>
                      </label>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
              </ul>
              <!-- Groups List Ends-->
            </div>
            <!-- Groups End-->
          </li>
        </ul>
      </div>
      <!-- Groups Collapsible Ends -->

      <!-- Projects Collapsible Begins -->
      <div class="col s12" id="projects">
        <ul class="collapsible" id="collapsible-projects">
          <li>
            <div class="collapsible-header"><i class="material-icons">folder</i>Proyectos</div>
            <div class="collapsible-body zero-padding">
              <!-- Projects List Begins-->
              <ul class="collection scrollable-collection">
                <li class="collection-item">
                  <!-- Search Bar Begins-->
                  <div class="row">
                    <form class="col s12">
                      <div class="input-field">
                        <i class="material-icons prefix third-text">search</i>
                        <input id="search_bar" placeholder="Ingresa palabras clave" type="text" class="validate">
                        <label for="search_bar">Búsqueda de Proyectos</label>
                      </div>
                    </form>
                  </div>
                  <!-- Search Bar Ends -->
                </li>
                <!-- No projects to show item begins-->
                <li class="collection-item">
                  No hay proyectos disponibles para seleccionar.
                </li>
                <!-- No projects to show item ends-->
                <!-- No project matches the search item begins-->
                <li class="collection-item">
                  Ningún proyecto coincide con los criterios de búsqueda.
                </li>
                <!-- No project matches the search item ends-->
                <!-- Project Begins -->
                <li class="collection-item avatar">
                  <i class="material-icons circle third-background">folder</i>
                  <div class="row">
                    <div class="col s12 m9">
                      <span class="title truncate col s12">
                        Nombre del proyecto
                      </span>
                      <span class="truncate col s12">
                        Líder del proyecto
                      </span>
                    </div>
                    <div class="col s12 m3">
                      <label class="right">
                        <button class="btn remove-button-background" title="Ver archivos" onclick="viewProjectFiles();">
                          <i class="material-icons">remove_red_eye</i>
                        </button>
                      </label>
                    </div>
                  </div>
                </li>
                <!-- Project Ends -->
              </ul>
              <!-- Project List Ends-->
            </div>
          </li>
        </ul>
      </div>
      <!-- Projects Collapsible Ends -->

      <!-- Files section Begins -->
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title first-text"><b>Archivos compartidos del grupo / proyecto</b></span>
            <!-- Search Component Begins -->
            <div class="row">
              <div class='input-field col s12'>
                <i class='material-icons prefix third-text'>search</i>
                <input placeholder='Ingresa palabras clave' type='text' class='validate'>
                <label>Búsqueda de Archivos</label>
              </div>
            </div>
            <!-- Search Component Ends -->
            <!-- File Collection Begins -->
            <ul class="collection scrollable-collection">
              <!-- No file item Begins-->
              <li class="collection-item">
                <span>No hay archivos compartidos en el grupo / proyecto</span>
              </li>
              <!-- No file item Ends -->
              <!-- No file item matches the search Begins-->
              <li class="collection-item">
                <span>No hay archivos compartidos que coincidan con el criterio de búsqueda en el grupo / proyecto</span>
              </li>
              <!-- No file item matches the search Ends -->
              <!-- File Begins-->
              <li class="collection-item avatar"><i class="material-icons circle third-background">attach_file</i>
                <div class="row">
                  <span class="title truncate col s12">Archivo 1</span>
                  <span class="title truncate col s12">Breve descripción del archivo 1</span>
                  <span class="title truncate col s12"><a href="#">Descargar Archivo</a></span>
                </div>
              </li>
              <!-- File Ends -->
              <!-- File Begins-->
              <li class="collection-item avatar"><i class="material-icons circle third-background">attach_file</i>
                <div class="row">
                  <span class="title truncate col s12">Archivo 2</span>
                  <span class="title truncate col s12">Breve descripción del archivo 2</span>
                  <span class="title truncate col s12"><a href="#">Descargar Archivo</a></span>
                </div>
              </li>
              <!-- File Ends -->
              <!-- File Begins-->
              <li class="collection-item avatar"><i class="material-icons circle third-background">attach_file</i>
                <div class="row">
                  <span class="title truncate col s12">Archivo 3</span>
                  <span class="title truncate col s12">Breve descripción del archivo 3</span>
                  <span class="title truncate col s12"><a href="#">Descargar Archivo</a></span>
                </div>
              </li>
              <!-- File Ends -->
              <!-- File Begins-->
              <li class="collection-item avatar"><i class="material-icons circle third-background">attach_file</i>
                <div class="row">
                  <span class="title truncate col s12">Archivo 4</span>
                  <span class="title truncate col s12">Breve descripción del archivo 4</span>
                  <span class="title truncate col s12"><a href="#">Descargar Archivo</a></span>
                </div>
              </li>
              <!-- File Ends -->
            </ul>
            <!-- File Collections Ends -->
          </div>
        </div>
      </div>
      <!-- Files section Ends -->
    </div>

  </div>
  <!-- Content End -->

  <!-- Scripts Begin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
  <script src="../../public/js/toasts.js"></script>
  <script>
    //M.AutoInit();

    //Init files-options tabs
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('files-options');
      var options = {};
      var instance = M.Tabs.init(elem, options);
    });

    //Init Groups collapsible collapsible-groups
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('collapsible-groups');
      var options = {};
      var instance = M.Collapsible.init(elem, options);
    });

    //Init Projects collapsible collapsible-projects
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('collapsible-projects');
      var options = {};
      var instance = M.Collapsible.init(elem, options);
    });
  </script>
  <!-- Scripts End -->
</body>

</html>