<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../public/css/system_colors.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/helpers.css">
  <title>Ver Iteración</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="page-background">
  <!-- Navbar Begin -->
  <nav>
    <div class="nav-wrapper second-background">
      <ul class="left">
        <li>
          <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
            <i class="material-icons left">view_module</i>
          </a>
        </li>
      </ul>
      <a href="#!" class="brand-logo center">
        <i class="material-icons">computer</i>
        <span class="hide-on-small-only">Ver Iteración</span>
      </a>
      <ul class="right">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content begin -->
  <div class="container" id="admin-watch-iteration-box">
    <div class="section"></div>
    <div class="row">

      <!-- Iteration Info Begins -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Proyecto X - Iteración Y</b></span>
          <div class="row">
            <div class="col s12 m8">
              <span class="title col s12" style="word-break: break-all;">Descripción de la iteración</span>
              <span class="title col s12" style="word-break: break-all;">Fecha de inicio: 18 / 09 / 2018</span>
              <span class="title col s12" style="word-break: break-all;">Fecha de término: 19 / 09 / 2018</span>
            </div>
            <div class="col s12 m4">
              <input placeholder="Cambiar fecha de término" id="newDate" type="hidden" class="right datepicker">
              <button onclick="openDatePicker();" title="Editar fecha de término" class="btn-floating btn-large remove-button-background right"><i
                  class="material-icons">mode_edit</i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Iteration Info Ends -->

      <!-- Board Begins -->
      <div class="row">
        <!-- Column Title Begins -->
        <div class="col s12 page-background">
          <div class="card">
            <div class="card-content">
              <span class="card-title first-text center"><b>Tablero de trabajo</b></span>
            </div>
          </div>
        </div>
        <!-- Column Title Ends -->
        <!-- TO DO Column Begins -->
        <div class="col s12 m4 light-blue lighten-4 scrollable-board">
          <!-- Column Title Begins -->
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title first-text center"><b>TO DO</b></span>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Title Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!'>
                        <i class="dropdown-trigger material-icons right" data-target='dropdown1' title="Opciones">more_vert</i>
                      </a>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown1' class='dropdown-content'>
                      <li><a href="#!">Iniciar tarea</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!'>
                        <i class="dropdown-trigger material-icons right" data-target='dropdown1' title="Opciones">more_vert</i>
                      </a>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown1' class='dropdown-content'>
                      <li><a href="#!">Iniciar tarea</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!'>
                        <i class="dropdown-trigger material-icons right" data-target='dropdown1' title="Opciones">more_vert</i>
                      </a>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown1' class='dropdown-content'>
                      <li><a href="#!">Iniciar tarea</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
        </div>
        <!-- TO DO Column Ends -->
        <!-- DOING Column Begins -->
        <div class="col s12 m4 amber lighten-4 scrollable-board">
          <!-- Column Title Begins -->
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title first-text center"><b>DOING</b></span>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Title Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!' class="right">
                        <i class="dropdown-trigger material-icons" data-target='dropdown2' title="Opciones">more_vert</i>
                      </a>
                      <i class="material-icons right" title="Pendiente de validar">access_time</i>
                      <i class="material-icons right" title="Evidencia rechazada">close</i>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown2' class='dropdown-content'>
                      <li><a class="modal-trigger" href="#modal_uploadDeliverable">Subir evidencia</a></li>
                      <li><a href="#!">Ver evidencia</a></li>
                      <li><a href="#!">Validar evidencia</a></li>
                      <li><a href="#!">Rechazar evidencia</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!' class="right">
                        <i class="dropdown-trigger material-icons" data-target='dropdown2' title="Opciones">more_vert</i>
                      </a>
                      <i class="material-icons right" title="Pendiente de validar">access_time</i>
                      <i class="material-icons right" title="Evidencia rechazada">close</i>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown2' class='dropdown-content'>
                      <li><a class="modal-trigger" href="#modal_uploadDeliverable">Subir evidencia</a></li>
                      <li><a href="#!">Ver evidencia</a></li>
                      <li><a href="#!">Validar evidencia</a></li>
                      <li><a href="#!">Rechazar evidencia</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!' class="right">
                        <i class="dropdown-trigger material-icons" data-target='dropdown2' title="Opciones">more_vert</i>
                      </a>
                      <i class="material-icons right" title="Pendiente de validar">access_time</i>
                      <i class="material-icons right" title="Evidencia rechazada">close</i>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown2' class='dropdown-content'>
                      <li><a class="modal-trigger" href="#modal_uploadDeliverable">Subir evidencia</a></li>
                      <li><a href="#!">Ver evidencia</a></li>
                      <li><a href="#!">Validar evidencia</a></li>
                      <li><a href="#!">Rechazar evidencia</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
        </div>
        <!-- DOING Column Ends -->
        <!-- DONE Column Begins -->
        <div class="col s12 m4 light-green lighten-4 scrollable-board">
          <!-- Column Title Begins -->
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <span class="card-title first-text center"><b>DONE</b></span>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Title Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!'>
                        <i class="dropdown-trigger material-icons right" data-target='dropdown3' title="Opciones">more_vert</i>
                      </a>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown3' class='dropdown-content'>
                      <li><a href="#!">Ver evidencia</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!'>
                        <i class="dropdown-trigger material-icons right" data-target='dropdown3' title="Opciones">more_vert</i>
                      </a>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown3' class='dropdown-content'>
                      <li><a href="#!">Ver evidencia</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
          <!-- Column Entry Begins -->
          <div class="row zero-margin-bottom">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <!-- Card Header Begins -->
                  <div class="row">
                    <span class="card-title">
                      Tarea 1
                      <a href='#!'>
                        <i class="dropdown-trigger material-icons right" data-target='dropdown3' title="Opciones">more_vert</i>
                      </a>
                    </span>
                    <!-- Dropdown Begins -->
                    <ul id='dropdown3' class='dropdown-content'>
                      <li><a href="#!">Ver evidencia</a></li>
                    </ul>
                    <!-- Dropdown Ends -->
                  </div>
                  <!-- Card Header Ends -->
                  <div class="row zero-margin">
                    <span class="col s12">Descripción de la tarea 1</span>
                    <span class="col s12">Evidencia solicitada: Fotos del evento</span>
                    <span class="col s12">Encargado: Victor Noriega</span>
                    <span class="col s12">Prioridad: alta</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column Entry Ends -->
        </div>
        <!-- DONE Column Ends -->
      </div>
      <!-- Board Ends -->

      <!-- Upload Deliverable Modal Definition Begins -->
      <div id="modal_uploadDeliverable" class="modal">
        <div class="modal-content">
          <h4>Subir evidencia</h4>
          <div class="row">
            <form action="#">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Seleccionar evidencia</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
      </div>
      <!-- Upload Deliverable Modal Definition Ends-->

    </div>
  </div>
  <!-- Content End -->

  <!-- Scripts Begin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

  <script>
    //M.AutoInit();
    document.addEventListener('DOMContentLoaded', function () {
      var options = {
        format: "dd / mmm / yyyy",
        i18n: {
          cancel: "Cancelar",
          clear: "Limpiar",
          done: "Listo",
          months: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
          ],
          monthsShort: [
            "01",
            "02",
            "03",
            "04",
            "05",
            "06",
            "07",
            "08",
            "09",
            "10",
            "11",
            "12"
          ],
          weekdays: [
            "Domingo",
            "Lunes",
            "Martes",
            "Miércoles",
            "Jueves",
            "Viernes",
            "Sábado"
          ],
          weekdaysShort: [
            "Dom",
            "Lun",
            "Mar",
            "Mie",
            "Jue",
            "Vie",
            "Sáb"
          ],
          weekdaysAbbrev: [
            'D', 'L', 'M', 'M', 'J', 'V', 'S'
          ]
        }
      };
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, options);
    });

    //Modal initialization - modal_uploadDeliverable
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.getElementById('modal_uploadDeliverable');
      var options = {};
      var instances = M.Modal.init(elems, options);
    });

    //Open Datepicker
    function openDatePicker() {
      var elem = document.getElementById('newDate');
      var instance = M.Datepicker.getInstance(elem);
      instance.open();
    }

    //Initialize dropdowns
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var options = {
        alignment: 'right',
        constrainWidth: false
      }
      var instances = M.Dropdown.init(elems, options);
    });
  </script>
  <!-- Scripts End -->
</body>

</html>