<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../public/css/system_colors.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/helpers.css">
  <title>Ver Proyecto</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="page-background">
  <!-- Navbar Begin -->
  <nav>
    <div class="nav-wrapper second-background">
      <ul class="left">
        <li>
          <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
            <i class="material-icons left">view_module</i>
          </a>
        </li>
      </ul>
      <a href="#!" class="brand-logo center">
        <i class="material-icons">computer</i>
        <span class="hide-on-small-only">Ver Proyecto</span>
      </a>
      <ul class="right">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content begin -->
  <div class="container" id="admin-watch-project-box">
    <div class="section"></div>
    <admin-watch-project-view>
    </admin-watch-project-view>
    <div class="row">

      <!-- Project Info Begins -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Nombre del proyecto</b></span>
          <div class="row">
            <span class="title col s12" style="word-break: break-all;">Descripción del proyecto</span>
            <span class="title col s12" style="word-break: break-all;">Líder del proyecto: Nombre Apellido</span>
            <span class="title col s12" style="word-break: break-all;">Fecha de inicio: 18 / 09 / 2018</span>
            <div class="col s12">
              <button title="Editar" data-target="modal_projectInfo" class="btn-floating btn-large modal-trigger remove-button-background right"><i
                  class="material-icons">mode_edit</i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Info Ends -->

      <!-- Project Users Begin -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Usuarios</b></span>
          <ul class="collection scrollable-collection">
            <!-- No user item Begins -->
            <li class="collection-item">
              <span>No hay usuarios en el proyecto</span>
            </li>
            <!-- No user item Ends -->

            <!-- User Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">person</i>
              <div class="row"><span class="title truncate col s12 hide-on-small-only">Push-Relabel
                  LastName LastName </span><span class="title truncate col s12 hide-on-med-and-up">Push-Relabel</span>
                <p class="truncate col s12">Correo : algorithm@mail.com<br>Teléfono : 5555555555</p>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Ver" data-target="modal_userInfo" class="btn modal-trigger remove-button-background"><i
                      class="material-icons">remove_red_eye</i></button>
                  <a href="#!" title="Contactar" class="btn remove-button-background"><i class="material-icons">send</i></a>
                </div>
              </div>
            </li>
            <!-- User Ends -->

            <!-- User Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">person</i>
              <div class="row"><span class="title truncate col s12 hide-on-small-only">Push-Relabel
                  LastName LastName </span><span class="title truncate col s12 hide-on-med-and-up">Push-Relabel</span>
                <p class="truncate col s12">Correo : algorithm@mail.com<br>Teléfono : 5555555555</p>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Ver" data-target="modal_userInfo" class="btn modal-trigger remove-button-background"><i
                      class="material-icons">remove_red_eye</i></button>
                  <a href="#!" title="Contactar" class="btn remove-button-background"><i class="material-icons">send</i></a>
                </div>
              </div>
            </li>
            <!-- User Ends -->

            <!-- User Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">person</i>
              <div class="row"><span class="title truncate col s12 hide-on-small-only">Push-Relabel
                  LastName LastName </span><span class="title truncate col s12 hide-on-med-and-up">Push-Relabel</span>
                <p class="truncate col s12">Correo : algorithm@mail.com<br>Teléfono : 5555555555</p>
                <div class="right">
                  <a href="#!" title="Eliminar" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Ver" data-target="modal_userInfo" class="btn modal-trigger remove-button-background"><i
                      class="material-icons">remove_red_eye</i></button>
                  <a href="#!" title="Contactar" class="btn remove-button-background"><i class="material-icons">send</i></a>
                </div>
              </div>
            </li>
            <!-- User Ends -->
          </ul>
          <div class="row">
            <div class="col s12">
              <button title="Agregar usuarios" data-target="modal_addUserToProject" class="btn-floating btn-large modal-trigger remove-button-background right"><i
                  class="material-icons">add</i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Users End -->

      <!-- Project Iterations Begin -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Iteraciones</b></span>
          <ul class="collection scrollable-collection">
            <!-- No iteration item Begins-->
            <li class="collection-item">
              <span>No hay iteraciones en el proyecto</span>
            </li>
            <!-- No iteration item Ends -->
            <!-- Iteration Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">call_made</i>
              <div class="row">
                <span class="title truncate col s12">Iteración 1</span>
                <span class="title truncate col s12">Descripción corta<span class="hide-on-small-only">
                    descripción extra de la iteración</span></span>
                <span class="title truncate col s12">Fecha de inicio: 18 / 09 / 2018</span>
                <span class="title truncate col s12">Fecha de término: 19 / 09 / 2018</span>
                <div class="right">
                  <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Iteration Ends -->
            <!-- Iteration Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">call_made</i>
              <div class="row">
                <span class="title truncate col s12">Iteración 2</span>
                <span class="title truncate col s12">Descripción corta<span class="hide-on-small-only">
                    descripción extra de la iteración</span></span>
                <span class="title truncate col s12">Fecha de inicio: 18 / 09 / 2018</span>
                <span class="title truncate col s12">Fecha de término: 19 / 09 / 2018</span>
                <div class="right">
                  <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Iteration Ends -->
            <!-- Iteration Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">call_made</i>
              <div class="row">
                <span class="title truncate col s12">Iteración 3</span>
                <span class="title truncate col s12">Descripción corta<span class="hide-on-small-only">
                    descripción extra de la iteración</span></span>
                <span class="title truncate col s12">Fecha de inicio: 18 / 09 / 2018</span>
                <span class="title truncate col s12">Fecha de término: 19 / 09 / 2018</span>
                <div class="right">
                  <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Iteration Ends -->
          </ul>
        </div>
      </div>
      <!-- Project Iterations End-->

      <!-- Add Iteration Begins -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Agregar Iteración</b></span>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s9">
                  <textarea placeholder="Descripción de la Iteración" id="iteration_desc" class="materialize-textarea"></textarea>
                  <label for="iteration_desc">Descripción de la Iteración</label>
                </div>
                <div class="input-field col s3">
                  <input type="text" class="datepicker" id="iteration_date">
                  <label for="iteration_date">Fecha de término</label>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col s12">
              <a href="#!" title="Agregar Iteración" class="btn remove-button-background right">Agregar</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Iteration Ends-->

      <!-- Project Tasks Begin -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Tareas sin asignar</b></span>
          <ul class="collection scrollable-collection">
            <!-- No task item Begins-->
            <li class="collection-item">
              <span>No hay tareas sin asignar</span>
            </li>
            <!-- No task item Ends -->
            <!-- Task Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">call_made</i>
              <div class="row">
                <span class="title truncate col s12">T-1</span>
                <span class="title truncate col s12">Descripción de la tarea 1</span>
                <span class="title truncate col s12">Evidencia solicitada: Fotos del evento</span>
                <span class="title truncate col s12">Prioridad: Alta</span>
                <div class="right">
                  <a href="#!" title="Eliminar tarea" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Asignar tarea" data-target="modal_assignTask" class="btn modal-trigger remove-button-background">Asignar</button>
                </div>
              </div>
            </li>
            <!-- Task Ends -->
            <!-- Task Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">call_made</i>
              <div class="row">
                <span class="title truncate col s12">T-1</span>
                <span class="title truncate col s12">Descripción de la tarea 1</span>
                <span class="title truncate col s12">Evidencia solicitada: Fotos del evento</span>
                <span class="title truncate col s12">Prioridad: Alta</span>
                <div class="right">
                  <a href="#!" title="Eliminar tarea" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Asignar tarea" data-target="modal_assignTask" class="btn modal-trigger remove-button-background">Asignar</button>
                </div>
              </div>
            </li>
            <!-- Task Ends -->
            <!-- Task Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">call_made</i>
              <div class="row">
                <span class="title truncate col s12">T-1</span>
                <span class="title truncate col s12">Descripción de la tarea 1</span>
                <span class="title truncate col s12">Evidencia solicitada: Fotos del evento</span>
                <span class="title truncate col s12">Prioridad: Alta</span>
                <div class="right">
                  <a href="#!" title="Eliminar tarea" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Asignar tarea" data-target="modal_assignTask" class="btn modal-trigger remove-button-background">Asignar</button>
                </div>
              </div>
            </li>
            <!-- Task Ends -->
            <!-- Task Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">call_made</i>
              <div class="row">
                <span class="title truncate col s12">T-1</span>
                <span class="title truncate col s12">Descripción de la tarea 1</span>
                <span class="title truncate col s12">Evidencia solicitada: Fotos del evento</span>
                <span class="title truncate col s12">Prioridad: Alta</span>
                <div class="right">
                  <a href="#!" title="Eliminar tarea" class="btn remove-button-background"><i class="material-icons">remove</i></a>
                  <button title="Asignar tarea" data-target="modal_assignTask" class="btn modal-trigger remove-button-background">Asignar</button>
                </div>
              </div>
            </li>
            <!-- Task Ends -->
          </ul>
        </div>
      </div>
      <!-- Project Tasks End-->

      <!-- Add Task Begins -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Agregar tarea</b></span>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea placeholder="Descripción de la tarea" id="task_desc" class="materialize-textarea"></textarea>
                  <label for="task_desc">Descripción de la tarea</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea placeholder="Evidencia solicitada" id="task_evidence" class="materialize-textarea"></textarea>
                  <label for="task_evidence">Evidencia solicitada</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <select id="priorityList">
                    <option value="" disabled selected>Seleccione la prioridad de la tarea</option>
                    <option value="1">Muy baja</option>
                    <option value="2">Baja</option>
                    <option value="3">Media</option>
                    <option value="4">Alta</option>
                    <option value="5">Muy alta</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col s12">
              <a href="#!" title="Agregar tarea" class="btn remove-button-background right">Agregar</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Task Ends-->

      <!-- DropBox Begins -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Archivos compartidos del proyecto</b></span>
          <!-- Search Component Begins -->
          <div class="row">
            <div class='input-field col s12'>
              <i class='material-icons prefix third-text'>search</i>
              <input placeholder='Ingresa palabras clave' type='text' class='validate'>
              <label>Búsqueda de Archivos</label>
            </div>
          </div>
          <!-- Search Component Ends -->
          <!-- File Collection Begins -->
          <ul class="collection scrollable-collection">
            <!-- No file item Begins-->
            <li class="collection-item">
              <span>No hay archivos compartidos en el proyecto</span>
            </li>
            <!-- No file item Ends -->
            <!-- File Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">attach_file</i>
              <div class="row">
                <span class="title truncate col s12">Archivo 1</span>
                <span class="title truncate col s12">Breve descripción del archivo 1</span>
                <span class="title truncate col s12"><a href="#">Descargar Archivo</a></span>
              </div>
            </li>
            <!-- File Ends -->
            <!-- File Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">attach_file</i>
              <div class="row">
                <span class="title truncate col s12">Archivo 2</span>
                <span class="title truncate col s12">Breve descripción del archivo 2</span>
                <span class="title truncate col s12"><a href="#">Descargar Archivo</a></span>
              </div>
            </li>
            <!-- File Ends -->
            <!-- File Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">attach_file</i>
              <div class="row">
                <span class="title truncate col s12">Archivo 3</span>
                <span class="title truncate col s12">Breve descripción del archivo 3</span>
                <span class="title truncate col s12"><a href="#">Descargar Archivo</a></span>
              </div>
            </li>
            <!-- File Ends -->
            <!-- File Begins-->
            <li class="collection-item avatar"><i class="material-icons circle third-background">attach_file</i>
              <div class="row">
                <span class="title truncate col s12">Archivo 4</span>
                <span class="title truncate col s12">Breve descripción del archivo 4</span>
                <span class="title truncate col s12"><a href="#">Descargar Archivo</a></span>
              </div>
            </li>
            <!-- File Ends -->
          </ul>
          <!-- File Collections Ends -->
          <div class="row">

            <div class="file-field input-field">
              <div class="btn remove-button-background">
                <span>Seleccionar archivo</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="btn remove-button-background">
              <span>Subir archivo</span>
            </div>
          </div>
        </div>
      </div>
      <!-- DropBox Ends-->

      <!-- Logs Collapsible Begins -->
      <ul class="collapsible" id="collapsible-logs">
        <li>
          <div class="collapsible-header"><i class="material-icons">autorenew</i>Logs</div>
          <div class="collapsible-body zero-padding">
            <!-- Logs List Begins-->
            <ul class="collection scrollable-collection">
              <!-- No Logs to show item begins-->
              <li class="collection-item">
                No hay registros en el log hasta el momento.
              </li>
              <!-- No Logs to show item ends-->
              <!-- Log Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">autorenew</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Fecha: 21/11/2018 16:27:32
                    </span>
                    <span class="truncate col s12">
                      Acción: El administrador creó una nueva tarea
                    </span>
                  </div>
                </div>
              </li>
              <!-- Log Ends -->
              <!-- Log Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">autorenew</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Fecha: 21/10/2018 16:27:32
                    </span>
                    <span class="truncate col s12">
                      Acción: Víctor Noriega movió la tarea 2 de la iteración 4 de TODO a DOING
                    </span>
                  </div>
                </div>
              </li>
              <!-- Log Ends -->
              <!-- Log Begins -->
              <li class="collection-item avatar">
                <i class="material-icons circle third-background">autorenew</i>
                <div class="row">
                  <div class="col s12 m9">
                    <span class="title truncate col s12">
                      Fecha: 21/09/2018 16:27:32
                    </span>
                    <span class="truncate col s12">
                      Acción: El administrador validó la evidencia de la tarea 3 de la iteración 5
                    </span>
                  </div>
                </div>
              </li>
              <!-- Log Ends -->
            </ul>
            <!-- Logs List Ends-->
          </div>
        </li>
      </ul>
      <!-- Logs Collapsible Ends -->

      <!-- Project Modal Definition Begins -->
      <div id="modal_projectInfo" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Editar información del proyecto</h4>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Nombre del proyecto" value="Nombre del proyecto" id="project_name" type="text"
                    class="validate">
                  <label for="project_name">Nombre del proyecto</label>
                </div>
                <div class="input-field col s12">
                  <input placeholder="Descripción del proyecto" value="Descripción del proyecto" id="project_desc" type="text"
                    class="validate">
                  <label for="project_desc">Descripción del proyecto</label>
                </div>
              </div>
              <!-- Project Users Begin -->
              <div class="card">
                <div class="card-content">
                  <span class="card-title first-text"><b>Seleccionar líder</b></span>
                  <form action="#">
                    <ul class="collection">
                      <!-- No user item Begins -->
                      <li class="collection-item">
                        <span>No hay usuarios para seleccionar</span>
                      </li>
                      <!-- No user item Ends -->

                      <!-- User Begins -->
                      <li class="collection-item avatar">
                        <i class="material-icons circle third-background">person</i>
                        <div class="row">
                          <div class="col s12 m9">
                            <span class="title truncate col s12">Nombre Apellidos </span>
                            <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                            <span class="title truncate col s12">Teléfono : 5555555555</span>
                          </div>
                          <div class="col s12 m3">
                            <label class="right">
                              <input name="group1" type="radio" checked />
                              <span>Líder</span>
                            </label>
                          </div>
                        </div>
                      </li>
                      <!-- User Ends -->

                      <!-- User Begins -->
                      <li class="collection-item avatar">
                        <i class="material-icons circle third-background">person</i>
                        <div class="row">
                          <div class="col s12 m9">
                            <span class="title truncate col s12">Nombre Apellidos </span>
                            <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                            <span class="title truncate col s12">Teléfono : 5555555555</span>
                          </div>
                          <div class="col s12 m3">
                            <label class="right">
                              <input name="group1" type="radio" />
                              <span>Líder</span>
                            </label>
                          </div>
                        </div>
                      </li>
                      <!-- User Ends -->

                      <!-- User Begins -->
                      <li class="collection-item avatar">
                        <i class="material-icons circle third-background">person</i>
                        <div class="row">
                          <div class="col s12 m9">
                            <span class="title truncate col s12">Nombre Apellidos </span>
                            <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                            <span class="title truncate col s12">Teléfono : 5555555555</span>
                          </div>
                          <div class="col s12 m3">
                            <label class="right">
                              <input name="group1" type="radio" />
                              <span>Líder</span>
                            </label>
                          </div>
                        </div>
                      </li>
                      <!-- User Ends -->

                      <!-- User Begins -->
                      <li class="collection-item avatar">
                        <i class="material-icons circle third-background">person</i>
                        <div class="row">
                          <div class="col s12 m9">
                            <span class="title truncate col s12">Nombre Apellidos </span>
                            <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                            <span class="title truncate col s12">Teléfono : 5555555555</span>
                          </div>
                          <div class="col s12 m3">
                            <label class="right">
                              <input name="group1" type="radio" />
                              <span>Líder</span>
                            </label>
                          </div>
                        </div>
                      </li>
                      <!-- User Ends -->
                    </ul>
                  </form>
                </div>
              </div>
              <!-- Project Users End -->
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
      </div>
      <!-- Project Modal Definition Ends-->

      <!-- User Modal Definition Begins -->
      <div id="modal_userInfo" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Nombre y Apellidos del usuario</h4>
          <!-- User Groups Begin -->
          <div class="card">
            <div class="card-content">
              <span class="card-title first-text"><b>Grupos en los que ha participado</b></span>
              <ul class="collection scrollable-collection">
                <!-- No group item Begins-->
                <li class="collection-item">
                  <span>El usuario no ha participado en algún grupo</span>
                </li>
                <!-- No group item Ends -->
                <!-- Group Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del grupo<span class="hide-on-small-only">
                        descripción extra del nombre de grupo</span></span>
                    <span class="title truncate col s12">Líder del grupo: Nombre apellido</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
                <!-- Group Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del grupo<span class="hide-on-small-only">
                        descripción extra del nombre de grupo</span></span>
                    <span class="title truncate col s12">Líder del grupo: Nombre apellido</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
                <!-- Group Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del grupo<span class="hide-on-small-only">
                        descripción extra del nombre de grupo</span></span>
                    <span class="title truncate col s12">Líder del grupo: Nombre apellido</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
                <!-- Group Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">group</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del grupo<span class="hide-on-small-only">
                        descripción extra del nombre de grupo</span></span>
                    <span class="title truncate col s12">Líder del grupo: Nombre apellido</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Group Ends -->
              </ul>
            </div>
          </div>
          <!-- User Groups End -->

          <!-- User Projects Begin -->
          <div class="card">
            <div class="card-content">
              <span class="card-title first-text"><b>Proyectos en los que ha colaborado</b></span>
              <ul class="collection scrollable-collection">
                <!-- No project item Begins-->
                <li class="collection-item">
                  <span>El usuario no ha colaborado en algún proyecto</span>
                </li>
                <!-- No project item Ends -->
                <!-- Project Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only">
                        descripción extra del nombre de proyecto</span></span>
                    <span class="title truncate col s12">Líder del proyecto: Nombre Apellidos</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Project Ends -->
                <!-- Project Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre del proyecto<span class="hide-on-small-only">
                        descripción extra del nombre de proyecto</span></span>
                    <span class="title truncate col s12">Líder del proyecto: Nombre Apellidos</span>
                    <div class="right">
                      <a href="#!" title="Ver" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                  </div>
                </li>
                <!-- Project Ends -->
              </ul>
            </div>
          </div>
          <!-- User Projects End -->

          <!-- User Tasks Begin -->
          <div class="card">
            <div class="card-content">
              <span class="card-title first-text"><b>Tareas que ha realizado</b></span>
              <ul class="collection scrollable-collection">
                <!-- No task item Begins-->
                <li class="collection-item">
                  <span>El usuario no ha realizado alguna tarea</span>
                </li>
                <!-- No task item Ends -->
                <!-- Task Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">create</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre de la tarea realizada</span>
                    <span class="title truncate col s12"> </span>
                    <span class="title truncate col s12">Para el grupo: Nombre del grupo</span>
                    <span class="title truncate col s12">Para el proyecto: Nombre del proyecto</span>
                    <span class="title truncate col s12">Descripción de la tarea realizada</span>
                    <span class="title truncate col s12"><a href="#!">Descargar evidencia</a></span>
                  </div>
                </li>
                <!-- Task Ends -->
                <!-- Task Begins-->
                <li class="collection-item avatar"><i class="material-icons circle third-background">create</i>
                  <div class="row">
                    <span class="title truncate col s12">Nombre de la tarea realizada</span>
                    <span class="title truncate col s12"> </span>
                    <span class="title truncate col s12">Para el grupo: Nombre del grupo</span>
                    <span class="title truncate col s12">Para el proyecto: Nombre del proyecto</span>
                    <span class="title truncate col s12">Descripción de la tarea realizada</span>
                    <span class="title truncate col s12"><a href="#!">Descargar evidencia</a></span>
                  </div>
                </li>
                <!-- Task Ends -->
              </ul>
            </div>
          </div>
          <!-- User Tasks End -->
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Entendido</a>
        </div>
      </div>
      <!-- User Modal Definition Ends-->

      <!-- Add User to Project Modal Definition Begins -->
      <div id="modal_addUserToProject" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Agregar usuarios al proyecto</h4>
          <div class="row">
            <form class="col s12">
              <!-- Group Users Begin -->
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <div class='input-field col s12'>
                      <i class='material-icons prefix third-text'>search</i>
                      <input placeholder='Ingresa palabras clave' type='text' class='validate'>
                      <label>Búsqueda de Usuarios</label>
                    </div>
                  </div>
                  <ul class="collection scrollable-collection">
                    <!-- No user item Begins -->
                    <li class="collection-item">
                      <span>No hay usuarios para agregar al proyecto</span>
                    </li>
                    <!-- No user item Ends -->

                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input type="checkbox" />
                            <span>Agregar</span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- User Ends -->

                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input type="checkbox" />
                            <span>Agregar</span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- User Ends -->

                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input type="checkbox" />
                            <span>Agregar</span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- User Ends -->
                  </ul>
                </div>
              </div>
              <!-- Group Users End -->
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
      </div>
      <!-- Add User to Project Modal Definition Ends-->

      <!-- Assign Users to Task Modal Definition Begins -->
      <div id="modal_assignTask" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Asignar tarea</h4>
          <div class="row">
            <form class="col s12">
              <!-- Project Users Begin -->
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <div class="input-field col s12">
                      <select id="iteration-select">
                        <option value="" disabled selected>Selecciona iteración de la tarea</option>
                        <option value="1">Iteración 1</option>
                        <option value="2">Iteración 2</option>
                        <option value="3">Iteración 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class='input-field col s12'>
                      <i class='material-icons prefix third-text'>search</i>
                      <input placeholder='Ingresa palabras clave' type='text' class='validate'>
                      <label>Búsqueda de Usuarios</label>
                    </div>
                  </div>
                  <ul class="collection">
                    <!-- No user item Begins -->
                    <li class="collection-item">
                      <span>No hay usuarios registrados en el proyecto</span>
                    </li>
                    <!-- No user item Ends -->

                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input name="group1" type="radio" checked />
                            <span>Asignar</span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- User Ends -->

                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input name="group1" type="radio" />
                            <span>Asignar</span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- User Ends -->

                    <!-- User Begins -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle third-background">person</i>
                      <div class="row">
                        <div class="col s12 m9">
                          <span class="title truncate col s12">Nombre Apellidos </span>
                          <span class="title truncate col s12">Correo : algorithm@mail.com</span>
                          <span class="title truncate col s12">Teléfono : 5555555555</span>
                        </div>
                        <div class="col s12 m3">
                          <label class="right">
                            <input name="group1" type="radio" />
                            <span>Asignar</span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- User Ends -->
                  </ul>
                </div>
              </div>
              <!-- Project Users End -->
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Asignar tarea</a>
        </div>
      </div>
      <!-- Assign Users to Task Modal Definition Ends-->

    </div>
  </div>
  <!-- Content End -->

  <!-- Scripts Begin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="../../public/js/toasts.js"></script>
  <!-- Vue Components Begin -->
  <!-- Common Components Begin -->
  <script src="../../public/js/components/common/user-full-name-span.js"></script>
  <script src="../../public/js/components/common/user-info-project-list-item.js"></script>
  <script src="../../public/js/components/common/user-info-group-list-item.js"></script>
  <script src="../../public/js/components/common/user-info-task-list-item.js"></script>
  <script src="../../public/js/components/common/user-info-project-list.js"></script>
  <script src="../../public/js/components/common/new-leader-list-item.js"></script>
  <script src="../../public/js/components/common/user-info-group-list.js"></script>
  <script src="../../public/js/components/common/user-info-task-list.js"></script>
  <script src="../../public/js/components/common/new-leader-list.js"></script>
  <script src="../../public/js/components/common/user-info-modal.js"></script>
  <!-- Common Components End -->
  <!-- List Items Begin -->
  <script src="../../public/js/components/admin-watch-project/project-shared-files-list-item.js"></script>
  <script src="../../public/js/components/admin-watch-project/project-member-list-item.js"></script>
  <script src="../../public/js/components/admin-watch-project/new-member-list-item.js"></script>
  <script src="../../public/js/components/admin-watch-project/iteration-list-item.js"></script>
  <script src="../../public/js/components/admin-watch-project/task-user-list-item.js"></script>
  <script src="../../public/js/components/admin-watch-project/task-list-item.js"></script>
  <!-- List Items End -->
  <!-- Lists Begin -->
  <script src="../../public/js/components/admin-watch-project/project-member-list.js"></script>
  <script src="../../public/js/components/admin-watch-project/new-member-list.js"></script>
  <script src="../../public/js/components/admin-watch-project/iteration-list.js"></script>
  <script src="../../public/js/components/admin-watch-project/task-user-list.js"></script>
  <script src="../../public/js/components/admin-watch-project/task-list.js"></script>
  <!-- Lists End -->
  <!-- Modals Begin -->
  <script src="../../public/js/components/admin-watch-project/edit-project-info-modal.js"></script>
  <script src="../../public/js/components/admin-watch-project/choose-task-user-modal.js"></script>
  <script src="../../public/js/components/admin-watch-project/add-new-member-modal.js"></script>
  <!-- Modals End -->
  <!-- Cards Begin -->
  <script src="../../public/js/components/admin-watch-project/project-shared-files.js"></script>
  <script src="../../public/js/components/admin-watch-project/project-members-card.js"></script>
  <script src="../../public/js/components/admin-watch-project/new-iteration-card.js"></script>
  <script src="../../public/js/components/admin-watch-project/project-info-card.js"></script>
  <script src="../../public/js/components/admin-watch-project/iterations-card.js"></script>
  <script src="../../public/js/components/admin-watch-project/new-task-card.js"></script>
  <script src="../../public/js/components/admin-watch-project/tasks-card.js"></script>
  <!-- Cards End -->
  <!-- Card Groups Begin -->
  <script src="../../public/js/components/admin-watch-project/iteration-card-group.js"></script>
  <script src="../../public/js/components/admin-watch-project/task-card-group.js"></script>
  <!-- Card Groups End -->
  <!-- Others Begin -->
  <script src="../../public/js/components/admin-watch-project/admin-watch-project-view.js"></script>
  <!-- Others End -->
  <!-- Vue Components End -->
  <script src="../../public/js/global/admin/admin-watch-project.js"></script>
  <script>
    //Modal initialization - modal_projectInfo
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.getElementById('modal_projectInfo');
      var options = {};
      var instances = M.Modal.init(elems, options);
    });

    //Modal initialization - modal_userInfo
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.getElementById('modal_userInfo');
      var options = {};
      var instances = M.Modal.init(elems, options);
    });

    //Modal initialization - modal_addUserToProject
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.getElementById('modal_addUserToProject');
      var options = {};
      var instances = M.Modal.init(elems, options);
    });

    //Modal initialization - modal_assignTask
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.getElementById('modal_assignTask');
      var options = {};
      var instances = M.Modal.init(elems, options);
    });

    //Priority Select
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('priorityList');
      var instance = M.FormSelect.init(elem, {});
    });

    //Iteration Select Initialization
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('iteration-select');
      var instance = M.FormSelect.init(elem, {});
    });

    //Init Logs collapsible collapsible-logs
    document.addEventListener('DOMContentLoaded', function () {
      var elem = document.getElementById('collapsible-logs');
      var options = {};
      var instance = M.Collapsible.init(elem, options);
    });
  </script>
  <!-- Scripts End -->
</body>

</html>