<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    media="screen,projection">
  <link rel="stylesheet" type="text/css" href="../../public/css/system_colors.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/helpers.css">
  <title>Proyectos</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="page-background">
  <!-- Navbar Begin -->
  <nav>
    <div class="nav-wrapper second-background">
      <ul class="left">
        <li>
          <a href="#!" class="tooltipped" data-position="right" data-tooltip="Volver al Men&uacute;">
            <i class="material-icons left">view_module</i>
          </a>
        </li>
      </ul>
      <a href="#!" class="brand-logo center">
        <i class="material-icons">computer</i>
        <span class="hide-on-small-only">Proyectos</span>
      </a>
      <ul class="right">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Content begin -->
  <div class="container" id="superadmin-watch-projects-box">
    <div class="section"></div>
    <div class="row">

      <!-- Projects Begin -->
      <div class="card">
        <div class="card-content">
          <span class="card-title first-text"><b>Proyectos</b></span>
          <!-- Search Bar Begins-->
          <div class="row">
            <form class="col s12">
              <div class="input-field">
                <i class="material-icons prefix third-text">search</i>
                <input id="search_bar" placeholder="Ingresa palabras clave" type="text" class="validate">
                <label for="search_bar">Búsqueda de Proyectos</label>
              </div>
            </form>
          </div>
          <!-- Search Bar Ends -->
          <ul class="collection">
            <!-- No project item Begins -->
            <li class="collection-item">
              <span>No hay proyectos que mostrar</span>
            </li>
            <!-- No project item Ends -->
            <!-- No project item matches the search Begins -->
            <li class="collection-item">
              <span>No hay proyectos que coincidan con el criterio de búsqueda</span>
            </li>
            <!-- No project item  matches the search Ends -->
            <!-- Project Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
              <div class="row">
                <span class="title truncate col s12 hide-on-small-only">Nombre del proyecto</span>
                <span class="truncate col s12 hide-on-small-only">Líder de proyecto</span>
                <span class="truncate col s12 hide-on-small-only">Descripción del proyecto</span>
                <div class="right">
                  <a href="#!" title="Ver proyecto" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Project Ends -->
            <!-- Project Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
              <div class="row">
                <span class="title truncate col s12 hide-on-small-only">Nombre del proyecto</span>
                <span class="truncate col s12 hide-on-small-only">Líder de proyecto</span>
                <span class="truncate col s12 hide-on-small-only">Descripción del proyecto</span>
                <div class="right">
                  <a href="#!" title="Ver proyecto" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Project Ends -->
            <!-- Project Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
              <div class="row">
                <span class="title truncate col s12 hide-on-small-only">Nombre del proyecto</span>
                <span class="truncate col s12 hide-on-small-only">Líder de proyecto</span>
                <span class="truncate col s12 hide-on-small-only">Descripción del proyecto</span>
                <div class="right">
                  <a href="#!" title="Ver proyecto" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Project Ends -->
            <!-- Project Begins -->
            <li class="collection-item avatar"><i class="material-icons circle third-background">folder</i>
              <div class="row">
                <span class="title truncate col s12 hide-on-small-only">Nombre del proyecto</span>
                <span class="truncate col s12 hide-on-small-only">Líder de proyecto</span>
                <span class="truncate col s12 hide-on-small-only">Descripción del proyecto</span>
                <div class="right">
                  <a href="#!" title="Ver proyecto" class="btn remove-button-background"><i class="material-icons">remove_red_eye</i></a>
                </div>
              </div>
            </li>
            <!-- Project Ends -->
          </ul>
        </div>
      </div>
      <!-- Projects End -->

    </div>
  </div>
  <!-- Content End -->

  <!-- Scripts Begin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>

  <script>
    //M.AutoInit();
  </script>
  <!-- Scripts End -->
</body>

</html>