<ul id="slide-out" class="sidenav">
  <li>
    <a href="#!">
      <i class="material-icons">message</i>Mis grupos de chat
    </a>
    <div class="divider"></div>
  </li>
  <!-- Contact Begins -->
  <li>
    <a data-target="slide-out-right" class="sidenav-trigger waves-effect" href="#!" onclick="closeSidenav();">
      Diego Fonseca
    </a>
    <div class="divider"></div>
  </li>
  <!-- Contact Ends -->
  <!-- Contact Begins -->
  <li>
    <a data-target="slide-out-right" class="sidenav-trigger waves-effect" href="#!" onclick="closeSidenav();">
      Víctor Noriega
    </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <!-- Contact Ends -->
</ul>