<div class="card">
  <div class="card-content">
    <i class="material-icons circle left third-background">person</i>
    <div class="row">
      <span class="card-title first-text col s12 m11"><b>Nombre del Usuario</b></span>
      <span class="col s12 m11">Correo : algorithm@mail.com</span>
      <span class="col s12 m11">Teléfono : 5555555555</span>
      <div class="col s12 m1">
        <button title="Ajustes" data-target="modal_userSettings" class="btn-floating btn-large modal-trigger remove-button-background right">
          <i class="material-icons">settings</i>
        </button>
      </div>
    </div>
  </div>
</div>