<div class="col s12" id="groups-view">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">group</i>Grupos
      </div>
      <div class="collapsible-body zero-padding">
        
      </div>
    </li>
  </ul>
</div>
<div class="col s12" id="projects-view">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">folder</i>Proyectos
      </div>
      <div class="collapsible-body zero-padding">

      </div>
    </li>
  </ul>
</div>
<div class="col s12" id="users-view">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">person</i>Usuarios
      </div>
      <div class="collapsible-body zero-padding">

      </div>
    </li>
  </ul>
</div>