.scrollable-collection
{

    max-height : 325px !important;
    overflow : auto !important;

}

.scrollable-chat
{

    max-height : 112px !important;
    overflow : auto !important;

}

.zero-padding
{
    padding : 0px !important;
}

.low-padding
{
    padding : 10px !important;
}

.remove-border{

    border: none !important;
}

.zero-margin{

    margin: 0 !important;
}

.send-at-bottom{

    position: absolute !important;
    bottom: 65px;
    left: 0px;
    right: 0px;
}