.blog-photo-properties
{

    max-height : 100 !important;
}

.scrollable-collection
{

    max-height : 325px !important;
    overflow : auto !important;

}

.scrollable-board
{

    max-height : 750px !important;
    overflow : auto !important;

}

.fixed-scrollable-collection
{

    height: 100% !important;
    max-height : 100% !important;
    overflow : scroll !important;
}

.scrollable-chat
{

    max-height : 112px !important;
    overflow : auto !important;

}

.zero-padding
{
    padding : 0px !important;
}

.low-padding
{
    padding : 10px !important;
}

.remove-border{

    border: none !important;
}

.zero-margin{

    margin: 0 !important;
}

.zero-margin-bottom{

    margin-bottom: 0 !important;
}

.flex-container{

    display: flex !important;
    flex-direction: column !important;
}

.flex-element-expand{

    flex-grow: 1 !important;
}

.justified-text{

    text-align: justify !important;
}